<div class="tab-pane active" id="energy" role="tabpanel">
  <div class="row">
    <% if valid_energy %>
      <div class="col-md-4" id="master-table">
        <%= render "home/energy/master_table", last_2_month_master_energy: last_2_month_master_energy,
          energy_count: energy_count, energy_stats: energy_stats %>
      </div>
      <div class="col-md-4" id="sub-table-1">
        <%= render "home/energy/table_1", last_2_month_energy_1: last_2_month_energy_1,
          energy_count_1: energy_count_1, energy_stats_1: energy_stats_1 %>
      </div>
      <div class="col-md-4" id="sub-table-2">
        <%= render "home/energy/table_2", energy_count_2: energy_count_2, energy_stats_2: energy_stats_2 %>
      </div>
    <% elsif last_month_energy %>
      <div class="col-md-4" id="master-table">
        <%= render "home/energy_blank_table", meter: last_month_energy[:master], heading: "Đồng hồ tổng", type: :master %>
      </div>
      <div class="col-md-4" id="sub-table-1">
        <%= render "home/energy_blank_table", meter: last_month_energy[:sub_1], heading: "Đồng hồ con 1", type: :sub %>
      </div>
      <div class="col-md-4" id="sub-table-2">
        <%= render "home/energy_blank_table", meter: last_month_energy[:sub_2], heading: "Đồng hồ con 2", type: :sub %>
      </div>
    <% else %>
      <div class="col-md-12">
        <p class="text-primary">Không có dữ liệu hoặc có lỗi trong quá trình tính toán.</p>
      </div>
    <% end %>
  </div>
</div>
