<div class="row">
  <div class="col-md-12 heading">
    <p class="category">Thông Tin Tiền Điện và Nước</p>
    <p class="time">Từ <%= t("date.period.months", start: l(@month_range[1], format: :beginning_of_month), end: l(@month_range[0], format: :beginning_of_month), year: @month_range[0].try(:year)) %></p>
    <div class="wrp pull-right">
      <div class="input-group" id="month-selector">
        <span class="input-group-addon"><i class="fa fa-calendar" style="color: #9A9A9A;"></i></span>
        <input type="text" name="month-display" class="form-control date-picker" data-datepicker-color="primary" value="<%# l Date.current, format: :month_and_year %>" placeholder="Chọn tháng...">
      </div>
      <input type="hidden" name="month" value="<%= l params[:month].to_date, format: :month_and_year %>" id="month-value">
      <input type="hidden" name="month" value="<%= params[:month].to_datetime %>" id="current-date">
    </div>
  </div>
  <% if notify_changes? %>
    <div class="warning-message">
      <div class="alert alert-danger">
        <p class="price-changes">
          Từ ngày <strong>01/12/2017</strong>, điện lực đà nẵng áp dụng giá bán lẻ mới cho điện sinh hoạt, <a href="https://pcdanang.cpc.vn/tabid/54/TopicId/160/ItemId/4227/Default.aspx" target="_blank">Bấm vào đây để xem chi tiết.</a><br>
          Do đó thông tin tiền điện từ tháng 12/2017 trở về trước không còn hiển thị chính xác nữa. Để xem thông tin tiền điện từ tháng 8 - 12 năm 2017, <a href="https://goo.gl/TWULLd" target="_blank">vui lòng xem ở đây</a>.
        </p>
        <a href="javascript:void(0);"  data-toggle="modal" data-target="#new_energy_price_modal">>> So sánh nhanh</a>
      </div>
    </div>
  <% end %>
  <div class="card">
    <div class="card-header">
      <ul class="nav nav-tabs nav-tabs-neutral justify-content-center" role="tablist" data-background-color="orange">
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#energy" role="tab" id="tab-energy">
            <i class="now-ui-icons business_bulb-63"></i>
            Tiền Điện
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#water" role="tab" id="tab-water">
            <i class="now-ui-icons objects_umbrella-13"></i>
            Tiền Nước
          </a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <div class="tab-content text-center">
        <%= render "energy_tab", last_2_month_master_energy: @last_2_month_master_energy,
          energy_count: @energy_count, energy_stats: @energy_stats,
          last_2_month_energy_1: @last_2_month_energy_1, energy_count_1: @energy_count_1,
          energy_stats_1: @energy_stats_1, energy_count_2: @energy_count_2,
          energy_stats_2: @energy_stats_2, valid_energy: @valid_energy, last_month_energy: @last_month_energy %>
        <%= render "water_tab",last_2_month_master_water: @last_2_month_master_water,
          water_count: @water_count, water_stats: @water_stats,
          last_2_month_water_2: @last_2_month_water_2, water_count_1: @water_count_1,
          water_stats_1: @water_stats_1, water_count_2: @water_count_2,
          water_stats_2: @water_stats_2, valid_water: @valid_water, last_month_water: @last_month_water %>
      </div>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col-md-12 text-center">
          <button type="button" name="calc" class="btn btn-info" data-toggle="modal" data-target="#reverse_meter_modal">
            <i class="fa fa-calculator"></i> Tính mức tiêu thụ
          </button>
          <button type="button" name="save" class="btn btn-primary" id="btn-save" style="display: none;">
            <i class="now-ui-icons ui-1_check"></i> Tính và Lưu
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<%= content_for :custom_html do %>
  <%= render "passcode_modal" %>
  <%= render "reverse_meter_modal" %>
  <%= render "new_energy_price_modal" %>
<% end %>

<%= content_for :custom_js do %>
  <script type="text/javascript">
    <%= render 'remember_tab.js' %>
    <%= render 'main.js' %>
  </script>
<% end %>
